body {
    text-align: left;
    margin:0;
    
    font-family: arial,sans-serif;
}

.gblue{
    color:#4285F4;
    font-size: 30px;
    
}

.gred{
    color:#DB4437;
    font-size: 30px;
    
   
}

.ggreen{
    color:#0F9D58;
    font-size: 30px;
   
}

.gyellow{
    color:#F4B400;
    font-size: 30px;
    
}

.slink{
    font-size: small;
    text-decoration: none;
    color:black;
    margin-right: 25px;
    float: right;
    margin-top: 10px;
    
}

.search :hover{
    
    color:grey;
    text-decoration: underline;
}

.head{
    background-color:rgb(240, 240, 240);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    
}

.head2{
    font-size: larger;
    padding-left: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#DB4437;
}
hr{
    border: 1px solid lightgrey;
}
.advform{
    padding-top:15px;
    font-size: small;
    
}



#formhead{
    padding-top: 35px;
    padding-left: 45px;
    
}


input[type=text]{
    
    width:38%;
    border: 1px solid #ccc;
    padding:5px;
    margin-left: 25px;
    cursor: text;
    
}

label{
    float:left;
    width:10%;
    text-align:left;

}

input[type=submit]{
    margin-top: 10px;
    margin-left: 16.5cm;
    padding: 8px 10px;
    background-color: #4d90fe;
    color:#fff;
    border:2px solid white;
    cursor: pointer;
    
    
}

input[type=submit]:hover{
    
    border-style: groove;
    
  }


