{% extends "auctions/layout.html" %}

{% block body %}
<h3>Watchlist</h3>
<div class="activity">

   {% for cards in auction %}
    
     <div class="card" style="width: 30rem;">
       <img class="card-img-top" src="{{ cards.url_image }}" alt="Auction image">
         <div class="card-body">
           <h5 class="card-title">{{ cards.title }}</h5>
           <p class="card-text">{{ cards.description }}</p>
           <p class="card-text"><small class="text-muted">Base Price : ₹{{ cards.price_bid}}</small></p>
           <a href="{% url 'auctionlist' cards.title %}" class="btn btn-primary">View</a>
           {% if user.is_authenticated %}
            <form action="{% url 'watchlist' %}" method="POST">
              {% csrf_token %}
               <input type="hidden" name="remove_watchlist" value="{{ cards.title }}"></input><br>
               <button type="submit" class="btn btn-dark">Remove Watchlist</button>
            </form>
            {% endif %}
         </div>
      </div>
  {% empty %}
    <h1>No Watchlist Added.</h1> 
  {% endfor %}
  
    

</div>

{% endblock %}