{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}

    {% if exist %}
      <div class="alert alert-warning">

          <strong>Save Unsucessfull ! ! </strong> File title name already exists.
    
       </div>
    {% endif %}
   


    <form action="{% url 'create' %}" method="POST">

       <label><b>Title:</b></label><br>
       {% csrf_token %}
       <input type="text" name="title" placeholder="Enter Title of Page">
       <br>
       <br>

       <label><b>Body:</label></b></label><br>
       {% csrf_token %}
       <textarea name="body">Enter the Contents!!!!</textarea>
       <br><br>
       <input type="submit" value="Save">

    </form>

   
    
{% endblock %}